$sidebar-background: #780116;
$sidebar-background-hover: #902F40;
$sidebar-link: #C6959E;
$sidebar-link-hover: #EEDFE2;


.sidebar {
  background: $sidebar-background;

  .col {
    height: 10vh;
    // padding: 15px;

    a {
      align-items: center;
      color: $sidebar-link;
      display: flex;
      font-family: 'Kalam', cursive;
      font-size: 1.5rem;
      height: 100%;
      justify-content: center;
      letter-spacing: 1px;
      width: 100%;

      &:hover {
        background-color: $sidebar-background-hover;
        color: $sidebar-link-hover;
        text-decoration: none;
      }
    }
  }
}

@media(min-width: 992px) {
  .sidebar {
    box-shadow: 5px 5px 9px;
    display: flex;
    flex-direction: column;
    float: left;
    margin: 16px 0 0 18%;
    width: 15%;

    .col {
      flex-basis: auto;
    }
  }
}
