$sidebar-link: #084887;
$sidebar-link-hover: #CDCDCD;

.sidebar {
  background: $sidebar-link;

  .col {
    height: 10vh;
    padding: 15px;

    a {
      color: white;
      font-weight: bold;

      &:hover {
        color: $sidebar-link-hover;
        text-decoration: none;
      }
    }
  }
}
