$page-title: #F58A07;
$link-color: #084887;
$link-hover: #34699C;

h2 {
  color: $page-title;
  // margin-top: 24px;
}

.group-component {
  h2 {
    color: $link-color;
  }

  p {
    margin: 0;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
  }
}

.groups-list {
  list-style: none;

  a {
    color: $link-color;

    &:hover {
      color: $link-hover;
      text-decoration: none;
    }
  }

  .group-list-item {
    border: 1px solid grey;

    h3 {
      text-align: left;
    }

    p {
      margin: 0;
    }
  }
}
