$page-title: #F58A07;
$link-color: #084887;
$link-hover: #34699C;

h2 {
  color: $page-title;
  // margin-top: 24px;
}

.group-component {
  h2 {
    color: $link-color;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
  }
}

.groups-list {
  border-bottom: 1px solid grey;
  list-style: none;

  .group-list-item {
    background: white;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

    a {
      color: $link-color;

      &:hover {
        color: $link-hover;
        text-decoration: none;
      }
    }

    h3 {
      font-size: 22px;
      margin: 0;
      text-align: left;
    }

    p {
      font-size: 14px;
      margin: 0;
    }

    span {
      font-size: 14px;
    }
  }
}

.people-icon {
    height: 16px;
}
