$page-title: #780116;
$link-color: #141414;
$link-hover: #3E3E3E;

.group-component,
.group-form,
.groups-list {
  background: white;
}

.group-component {
  h2 {
    color: $link-color;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
  }

  .col,
  .row {
    padding: 4px;
  }
}

.group-form {
  padding: 8px;

  h2 {
    color: $page-title;
    text-align: center;
  }

  input,
  textarea {
    border: 1px solid grey;
    border-radius: 4px;
    width: 100%;
  }

  label {
    margin: 12px 0 0;
  }

  .time-input {
    input {
      width: 40%;
    }

    label {
      margin: 0 8px;
    }
  }
}

.groups-list {
  border-bottom: 1px solid grey;
  list-style: none;

  .group-list-item {
    background: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;

    a {
      color: $link-color;

      &:hover {
        color: $link-hover;
        text-decoration: none;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      text-align: left;
    }

    p, span {
      color: #545454;
      font-size: 14px;
      margin: 0;
    }

    span {
      font-size: 14px;
    }
  }
}

.people-icon {
    height: 16px;
}

@media(min-width: 992px) {
  .group-form,
  .group-component,
  .groups-list {
    border-radius: 2px;
    box-shadow: 5px 5px 9px;
    margin-left: 20vw;
    width: 70%;
  }
}
