$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

body {
  background-attachment: fixed;
  background-image: radial-gradient(circle farthest-corner at 6.6% 12%, rgba(64,0,126,1) 20.8%, rgba(0,255,160,1) 100.2% );
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 8px;

  input {
    border: 1px solid grey;
    border-radius: 2px;
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

@media(min-width: 992px) {
  main {
    margin: 16px 18%;
    width: 60vw;
  }

  .auth-form {
    border-radius: 2px;
    box-shadow: 5px 5px 9px;
    margin-left: 20vw;
    width: 70%;
  }
}
